main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    text-align: center;
}


.card {
    width: 100%;
    height: 500px;
    background: transparent;
    box-shadow: 0px 2px 6px rgba(139, 139, 139, 0.25);
    background-color: rgba(43, 43, 43, 0.493);
    color: var(--text-light);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5% 10%;
}
img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
button {
    background-color: rgba(43, 43, 43, 0.493);
    border: none;
    color: var(--text-light);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
    background-color: #555;
}