
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

/* Title styling */
#main h1 {
    font-size: 3rem;
    margin: 10px;
    letter-spacing: 2px;
    background: linear-gradient(90deg, var(--top-gradient), var(--bottom-gradient));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Subtitle styling */
#main h4 {
    margin: 0;
    color: var(--text-subtle);
    font-weight: 400;
    font-size: 1.2rem;
}

/* Text block styling */
.content {
    margin-top: 40px;
    width: var(--content-width);
    max-width: 900px;
    line-height: 1.6;
    color: var(--text-light);
    font-size: 1.05rem;
}

.content p {
    border-left: 4px solid var(--text-subtle);
    padding-left: 1rem;
    text-indent: 1rem;
    margin-bottom: 20px;
}

img {
    width: 70%;
    margin: 50px auto;
    display: block;
    max-width: 100%;
    /* border-top: 2px solid var(--text-subtle);
    border-bottom: 2px solid var(--text-subtle); */
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
}
